mat-form-field {
    width: 100%;
}


.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin: 10px 0 20px 0;
}

.file-list {
    margin-top: 20px;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 5px;
}