<div class="input-group">
  <div class="input-group-prepend cursor-pointer" (click)="dp.toggle()">
    <span class="input-group-text"><i class="{{ iconClass }} text-verde-titulos"></i></span>
  </div>
  <input class="form-control bs-datepicker-input" 
         [placeholder]="placeholder" 
         name="dp" 
         [(ngModel)]="dateStruct" 
         (ngModelChange)="onDateSelect($event)"
         ngbDatepicker 
         #dp="ngbDatepicker"
         [container]="container === 'null' ? null : container"
         [placement]="placement"
         (click)="dp.toggle()"
         (focus)="onInputFocus($event)"
         (keydown)="onKeyDown($event)"
         (blur)="onInputBlur()"
         (input)="onManualInput($event)"
         autocomplete="off">
</div>
